{% extends 'base.html' %}

{% block title %}Your home page:{% endblock %}

{% block body %}

<h1>Your reservations:</h1>

<div>
{% if (reservation_list is defined) and reservation_list %}
    {% for reservation in reservation_list %}
        <ul>{{ reservation.reservation_date.strftime('%a %m/%d') }} {{reservation.reservation_time.strftime("%I:%M %p") }}</ul>
    {% endfor %}
{% endif %}
</div>

<div>
    <a class="button" href="/search">Make a reservation</a>
</div>

<div>
    <a class="button" href="/logout">Logout</a>
</div>

{% endblock %}